---
import SongCard from "../components/SongCard.astro";
import { getLastFmUser, getRecentTracks } from "../lib/lastfm";
import { getCurrentTrack, getTopArtists, getTopTracks, getUser } from "../lib/spotify";
export const prerender = true
const tracks = await getTopTracks();
const artists = await getTopArtists();
const track = await getCurrentTrack();
const user = await getUser();
const lastFM = await getLastFmUser();
const recentTracks = await getRecentTracks(5);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>adhiraj</title>
	</head>
	<body class="bg-black text-neutral-100 mx-16 mb-8 grid grid-cols-1 md:grid-cols-3 gap-8">
		<section class="my-8">
			<div>
				<div class="flex flex-row items-center space-x-4">
    <img src={user.image} alt={user.name} class="w-16 h-16 rounded-full" />
    <div class="flex flex-col">
        <a href={user.url}>
        <h3 class="font-semibold">{user.name}</h3>
        </a>
		<p class="text-sm">{user.country}</p>
		<p class="text-sm">{user.email}</p>
    </div>
</div>
			</div>
			<div class="my-8">
<div class="flex flex-row items-center space-x-4">
    <img src={lastFM.image[3]["#text"]} alt={lastFM.realname} class="w-16 h-16 rounded" />
    <div class="flex flex-col">
        <a href={lastFM.url}>
        <h3 class="font-semibold">{lastFM.name}</h3>
        </a>
        <p class="text-sm">{lastFM.playcount} scrobbles</p>
        <p class="text-sm">{lastFM.artist_count} artists</p>
    </div>
</div>
			</div>
{ track ? <div>
	<h1 class="text-2xl font-semibold my-8">{track.is_playing ? "Currently Playing" : "Recently Played"}</h1>
	<SongCard {...track} />
</div> : <div>
	<h1 class="text-2xl font-semibold my-8">Recent Tracks</h1>
	<div class="flex flex-col gap-y-4">
		{
		  recentTracks.map((d) => (
			<div class="flex flex-row items-center space-x-4">
    <img src={d.image[3]["#text"]} alt={d.name} class="w-16 h-16 rounded" />
    <div class="flex flex-col">
        <a href={d.url}>
        <h3 class="font-semibold text-neutral-100">{d.name}</h3>
        </a>
        <p class="text-sm">{d.artist["#text"]}</p>
        <p class="text-sm">{d.album["#text"]}</p>
    </div>
</div>
				))
			  }
	</div>
</div>}
</section>
		<section>
			<h1 class="text-2xl font-semibold my-8">Top Tracks</h1>
	  <div class="flex flex-col gap-y-4">
		{
		  tracks.map(({ artists, album, songUrl, title, image }) => (
			<SongCard artists={artists} album={album} songUrl={songUrl} title={title} image={image} />
				))
			  }
	</div>
		</section>
		<section>

			<h1 class="text-2xl font-semibold my-8">Top Artists</h1>
			
			<div class="flex flex-col gap-y-4">
			  {
				artists.map(({ name, url, image, followers }) => (
				  <div class="flex flex-row items-center space-x-4">
					<img src={image} alt={name} class="w-16 h-16 rounded" />
					<div class="flex flex-col">
					  <a href={url}>
						<h3 class="font-semibold">{name}</h3>
						</a>
						<p>{followers} followers</p>
						</div>
						</div>
						))
					  }
			</div>
		</section>
	</body>
</html>