---
import { Image } from "astro:assets";

interface Props {
  artists: {
    name: string;
  }[];
  songUrl: string;
  title: string;
  album: string;
  image: string;
}

const { image, title, artists, album, songUrl } = Astro.props;
---

<div class="flex flex-row items-center space-x-4 group">
  <Image
    src={image}
    alt={title}
    width={64}
    height={64}
    class="rounded flex-shrink-0 object-cover"
  />
  <div class="flex flex-col text-neutral-200">
    <a href={songUrl}>
      <h3
        class="font-semibold text-neutral-100 text-wrap group-hover:underline underline-offset-2"
      >
        {title}
      </h3>
    </a>
    <p class="text-sm">{artists.map(({ name }) => name).join(", ")}</p>
    <p class="text-sm">{album}</p>
  </div>
</div>
